*{
 margin: 0;
 padding:0;
 box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
/*Prima Barra*/
.container{
    height: 100px;
}

.float-left{
    float: left;
}

.main-header { 

        line-height: 100px;
        background-color: #eaf0f6;   
}
 
 .nav{
    padding-left: 20%;
}
.nav:nth-child(2){
    padding-left: 0%;
}
.nav:nth-child(3){
    padding-left: 0%;
}
.nav:nth-child(4){
    padding-left: 0%;
    padding-left: 20px;
    padding-right: 35%;
}

.menu-inline li{
    display: inline-block;
    list-style: none;
}

.btn {
    display:inline-block;
    max-width: 150px;
    max-height: 40px;
    background-color:white ;
    padding:10px;
    text-decoration: none;
    text-align: center; 
    border: 1px solid #ff7a59;
    color: #ff7a59;
    border-radius: 5%;
    margin-left: 10px;
}
.btn2 {
    display:inline-block;
    max-width: 150px;
    max-height: 40px;
    background-color:#ff7a59 ;
    padding:10px;
    text-decoration: none;
    text-align: center; 
    border: 1px solid #ff7a59;
    color: #fffdfd;
    border-radius: 5%;
    margin-left: 10px;
}



.main-header a.btn {
    line-height: 12px;
}

.main-header a.btn2{
    line-height: 12px;
}

/*Seconda Barra*/

.container2{
    height:100px;
    background-color: rgb(255, 255, 240);
   
}

.logo{
    position: relative;
    padding-left:20%;
    padding-top: 30px;
    margin-right: 470px;
    text-align: center;
    float:left;
}

/*Jumbotron*/


.jumbotron{
    height: 800px;
    background-image: url(../img-hubspot/jumbotron.png);
    background-size: 1600px;
    background-repeat: no-repeat;

}