*{
 margin: 0;
 padding:0;
 box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
/*Prima Barra*/
.container{
    height: 100px;
}

.float-left{
    float: left;
}

.main-header { 

        line-height: 100px;
        background-color: #eaf0f6;   
}
 
 .nav{
    padding-left: 20%;
}
.nav:nth-child(2){
    padding: 0 5px 0 5px;
}
.nav:nth-child(3){
    padding-left: 0%;
    padding-right: 20px;
    border-right: 1px solid black;
    margin-top: 40px;
    line-height: 12px;
}
.nav:nth-child(4){
    padding-left: 0%;
    padding-left: 20px;
    padding-right: 35%;
}

.menu-inline li{
    display: inline-block;
    list-style: none;
}

.btn {
    display:inline-block;
    max-width: 150px;
    max-height: 40px;
    background-color:white ;
    padding:10px;
    text-decoration: none;
    text-align: center; 
    border: 1px solid #ff7a59;
    color: #ff7a59;
    border-radius: 5%;
    margin-left: 10px;
}
.btn2 {
    display:inline-block;
    max-width: 150px;
    max-height: 40px;
    background-color:#ff7a59 ;
    padding:10px;
    text-decoration: none;
    text-align: center; 
    border: 1px solid #ff7a59;
    color: #fffdfd;
    border-radius: 5%;
    margin-left: 10px;
}



.main-header a.btn {
    line-height: 12px;
}

.main-header a.btn2{
    line-height: 12px;
}

/*Seconda Barra*/

.container2{
    height:100px;
    background-color: rgb(255, 255, 255);
   
}

.logo{
    position: relative;
    padding-left:20%;
    padding-top: 30px;
    margin-right: 470px;
    text-align: center;
    float:left;
}

.lista{
    margin-right:10px;
}

/*Jumbotron*/


.jumbotron{
    height: 777px;
    background-image: url(../img-hubspot/jumbotron.png);
    background-size: 1600px;
    background-repeat: no-repeat;

}

 .jumbotron .col{
    padding: 40px;
    width: 58%;
    padding-left: 20%;
}
 
.jumbotron .banner:first-child{
    padding-bottom: 40px;
    font-size: 50px;
   
}
.jumbotron .banner:nth-child(2){
    padding-bottom: 20px;
    font-size: 20pxpx;
}
 

.jumbotron .banner:last-child{
    padding-top: 20px;
    font-size: 15px;
}
 /*Main*/
 
 .container3{
     height: 360px;
     background-color: #f5f8fa;
 }
 .cubo {
     height:200px;
     width: 275px;
     margin-left:40%;
     margin-top:10px
 }
  h1.cubo{
    text-align: center;
    width: 400px;
    max-height: 50px;
    margin-left: 35%;
    margin-top: 10px;
  }

  h4.cubo{
    text-align: center;
    width: 705px;
    max-height: 30px;
    margin-left: 27%;
    font-size: 12px;
  }

  /*Centro*/

  .mid{
      height: 1000px;
      background-color: #f5f8fa;
  }

  .box{
    width: 1200px;
    height: 300px;
    margin: 0 170px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #f2f6f9;
    border-radius: 3%;
  }

  .box.clearfix{
      overflow: auto;
  }

  .libro{
    position: relative;
    top: 10px;
    padding-left: 5%;
    padding-top: 5px;
    margin-right: 200px;
    text-align: center;
    float: left;
    height: 150px;
  }
.btn3{
    position:relative;
    top: 200px;
    right: 365px;
    display:inline-block;
    max-width: 150px;
    max-height: 40px;
    background-color:#ff7a59 ;
    padding:10px;
    text-decoration: none;
    text-align: center; 
    border: 1px solid #ff7a59;
    color: #fffdfd;
    border-radius: 5%;
    margin-left: 10px;
    float: left;
}
 .fa-check-circle {
     color: #ff7a59;
     background-color: white;
 }

 .orizont{
    margin-left: 460px;
    display: block;
    margin-top: 28px;
    text-align: initial;
 }

  .btn3 .orizont:first-child{
     margin-bottom: 10px;
 }

 hr{
    position: relative;
    top: -24px;
    right: -739px;
    margin-top: 8px;
    display: inline-block;
    padding: 0px;
    border: 1px solid #000000;
    float: left;
    width: 400px; 
 }

 .orizont:last-child{
     margin-top: 35px;
 }
  /*colonne verticali*/
 .col1{
    float: left;
    width: 25%;
    height: 500px;
    margin: 40px 10px 0px 175px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #f2f6f9;
    border-radius: 3%;
    text-align: center;
 }
 .col2{
    float: left;
    width: 25%;
    height: 500px;
    margin: 40px 20px 0px 20px;;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #f2f6f9;
    border-radius: 3%;
    text-align: center;
    
 }
 .col3{
    float: left;
    width: 25%;
    height: 500px;
    margin:40px 0px 0 10px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #f2f6f9;
    border-radius: 3%;
    text-align: center;
 }

.col-img{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
}
.li-col{
    text-align: initial;
    list-style: none;
    margin-left: 40px;
    
}

.li-col:first-child{
    margin-top: 20px;

}


.h2-col{
    margin-bottom: 10px;

}
.h3-col{
    margin-bottom: 10px;
}
.h5-col{
    margin-bottom: 10px;
}

.hr-col{
    width: 160px;
    margin-left: -635px;
    margin-top: 55px;
}
.btn-col{
    position: relative;
    top: 35px;
    max-width: 149px;
    max-height: 40px;
    background-color: #ff7a59;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #ff7a59;
    color: #fffdfd;
    border-radius: 5%;
    margin-left: 10px;
}

/*Conteiner Gradient*/

.container4 {
    height: 220px;
    background-image: linear-gradient(to right, #03878a , #00baa6);
    color:white;
    text-align:center ;
}

.h1-cont4{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 40px;
}
.h4-cont4{
    margin-bottom: 20px;
}
/**/
.container5{
    height: 400px;
    background-image: linear-gradient(to right, #03878a , #00baa6);
    color:white;
    
}
.col-w{
    height: 50%;
    width: 25%;
    text-align:center ;
    float: left;
    font-size: 40px;
    margin-top: 10px;
}

.h5-w{
    margin-top:10px ;
    font-size:15px
}